{% extends 'modeleConnexion.html.twig' %}

{% block body %}

<div class="col-lg-4 col-md-6 mb-4">
        <img src={{asset('/images/imagesUpload/page-404.png')}} alt="page 404">
      </div>

{% endblock %}