.navbar-default {

    background-color: #eddcf9;
    border-bottom: 2px solid #ffba08e1;
   
}

body {

    margin-top: 5vh;
    
}

#galerie, #avis {

    margin-top: 8vh;
    margin-bottom: 8vh;
   
}