*{
scroll-behavior: smooth;

}


.navbar-default {

    background-color: #eddcf9;
    border-bottom: 2px solid #ffba08e1;
   
}


#prestations, #galerie, #avis, #contact {

    margin-top: 8vh;
    margin-bottom: 8vh;
   
}

#email, #message, #prenom, #nom {

    margin-top: 2vh;
    margin-bottom: 2vh;
   
}

.btn-info {
    background-color: #ffba08;
    color:white;
    border-color: #ffba08;
}
.btn-info:hover {
    color: #fff;
    background-color: #ffba08;
    border-color: #ffba08;
}

#btn-back-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    background-color: #FFBA08;
  }

  /* Par défaut, une étoile est en gris,
   avec un padding et un curseur en forme de main. */
.fa-star {
	color: gray;
	cursor: pointer;
	padding: 0.0625rem;
}
/* Si elle porte en plus la classe '.gold', elle sera en jaune. */
.fa-star.gold {
	color: #ffba08;
}

.fa-1x {
font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
cursor: pointer;
}
.dark-blue-text {
color: #0A38F5;
}
.dark-pink-text {
color: #AC003A;
}
.dark-amber-text {
color: #ff6f00;
}
.dark-teal-text {
color: #004d40;
}

.inscripSubmit {

    background-color: #ffba08;
    color: white;
}

.burger {

        background: url('../../images/arrow-down.png')center;
        margin-left: 45%;
        padding: 1%;
        width: auto;
   }
/* La police et le design du Pseudo utilisateur */

a{
    font-size: 20px;
  
}

@media screen and (min-width: 410px)and (max-width: 1000px) {

    .navbar {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap-reverse;
                flex-flow: row wrap-reverse;
        width: 100%;
        padding: 25px;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-line-pack: justify;
            align-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        
    }
    #media {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:row;
                flex-direction:row;

        margin-left: 10%;
        margin-top: 50px;
        min-height: 100px;

    }

}

