{% extends 'base.html.twig' %}

{% block body %}



{#    {% if not app.user %}#}
{#        redirection page connexion #}
{#        {% else %}#}


<div class="w-25 m-4">
            {{ form_start(formResa) }}

            {{ form_row(formResa.date) }}
{#            <label for="date">Quelle date :</label>#}
{#            <input type="date" name="date">#}
            {{ form_row(formResa.pack) }}




    <button class="btn btn-outline-primary mb-5" type="submit">Ajouter</button>
{#{% endif %}#}


    {{ form_end(formResa) }}

    </div>







{% endblock %}

{% block title %}

{% endblock %}

