{% extends 'base.html.twig' %}

{% block title %}Hello Lo{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="col-md-6 bg-success p-4 rounded mx-auto text-center text-white mb-3">
            {{ message }}
        </div>
    {% endfor %}

    <table class="table table-striped w-50">
        <thead class="thead-light">
        <tr>

            <th scope="col">Pack</th>

        </tr>
        </thead>
        <tbody class="text-center">
        {% for top_pack in top_packs %}
            <tr>

                <td>{{ top_packs.id }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>





        <h2>Le pack le plus commandé</h2>
        <p> {{ pack }}  </p>

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>










{% endblock %}
