{% extends 'modeleConnexion.html.twig' %}

{% block body %}
 <div class="container p-5 mt-5 text-center" style="background-color: #FFBA08">

 <p class="text-uppercase text-white m-2">Merci de votre confiance.</p>
 <p class="text-center-capitalize text-white m-2">Votre commande est bien enregistrée, l'un de nos conseillers prendra contact avec vous très bientôt.</p>
 <p class="text-center-capitalize text-white m-2">Au plaisir de vous revoir.</p>


  </div>

{% endblock %}

{% block title %}

{% endblock %}

