<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% endblock %}

    <title >Back-Office</title>
</head>


<body>
<div class="row">
<div style=" height: 100vh" class="col-md-2 vertical-nav bg-info pl-3" id="sidebar">
    <nav class="ml-3">
        <ul class="nav flex-column pt-5">
            <li class="nav-item btn btn-light m-3"><a class="nav-link text-dark" href="{{path('utilisateurs') }}">Utilisateurs</a></li>
            <li class="nav-item btn btn-light m-3"><a class="nav-link text-dark" href="#">Articles</a></li>
            <li class="nav-item btn btn-light m-3"><a class="nav-link text-dark" href="#">Soutien</a></li>
            <li class="nav-item btn btn-light m-3"><a class="nav-link text-dark " href="#">Contact</a></li>
        </ul>
    </nav>

</div>

<div class="col">

<div class="container">
    <div class="text-center my-5">
<h1 class="text-info">Back-Office</h1>
</div>


{% block body %}
{% endblock %}

</div>
</div>


{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>