
{% extends 'modeleConnexion.html.twig' %}

{% block body %}

 <div class="container mt-4">
    <h1 class="text-center p-4" style="background-color: #eddcf9">Paiement</h1>
 
 <hr> 
 <div class="container mt-4">
 <h2 class="mt-5">Votre réservation</h2>
   </div>
</div>

<div class="container mt-4">
    <h1 class="text-center mt-5 mb-5 p-4" style="background-color: #eddcf9">Paiement</h1>
      <div class="row justify-content-end">

    </div>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
          
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            
            <th scope="col">Voir Réservations effectuées</th>
            <th scope="col">Retourner à l'accueil</th>
        </tr>
        </thead>
        <tbody class="text-center">
        {% for user in users %}
            <tr>
               
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                 <td><a href=""><img src="{{ asset('images/delete.png') }}" alt="accueil"></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

      <button class="btn btn-info mt-4 mb-4" type="submit">Payer</button>
      
    </div>

{% endblock %}
