{% extends 'modeleConnexion.html.twig' %}

{% block body %}
 <div class="container m-5 ">

    <p class="text-center text-danger">Merci pour votre réservation, à bientôt</p>



  </div>

{% endblock %}



{% block title %}

{% endblock %}

